﻿@{
    ViewBag.Title = "Студпрофком УАД - Про нас";
    Layout = "~/Views/_mainLayout.cshtml";
}

<div class="about-wrapper">
    <h3>ПРО <span>НАС</span></h3>
    @*<img class="project-logo" src="@Url.Content("~/Content/Images/Projects/miss-uad-logo.jpg")" />*@
    <p>
        В Українській академії друкарства важливу роль щодо соціального захисту прав студентів та 
        організації дозвілля відіграє первинна профспілкова організація студентів (профком студентів). 
        Ця громадська організація входить до профспілки працівників освіти і науки України, що є 
        всеукраїнською добровільною неприбутковою громадською організацією, яка об’єднує людей на 
        добровільних засадах без жодних обмежень.
    </p>
    <p>
        Метою діяльності організації є представництво, здійснення та захист трудових, 
        соціально-економічних прав та інтересів своїх членів профспілки.
    </p>
    <p>
        Сьогодні до складу профкому студентів входить профбюро трьох факультетів та
         профбюро Львівського поліграфічного коледжу, працюють комісії соціального 
        захисту, культурно-масової роботи, комісія з питань спорту та туризму, комісія 
        з оздоровлення студентів. 
    </p>
    <p>
        Вже стало доброю традицією щороку проводити свято молодості та краси 
        <strong>«Міс Українська академія друкарства»</strong>, що демонструє високий рівень естетичного, 
        культурного та інтелектуального розвитку прекрасної половини студентства нашої академії. 
    </p>
    <p>
        Разом з Львівською міською радою діє проект <strong>«Стажування студентської молоді»</strong>, 
        відповідно до програми якого студенти академії щорічно мають можливість пройти стажування 
        в органах місцевого самоврядування.
    </p>
    <p>
        Для висвітлення подій, що відбуваються в студентському житті академії, видається 
        студентська газета <strong>«Підголоско’76»</strong>, де студенти мають змогу реалізовувати себе 
        у журналістиці та набувати досвіду на ниві видавничо-поліграфічної справи.
    </p>
    <p>
        Щороку до Великодніх свят проводяться акції: <strong>«Розмалюй писанку»</strong>, <strong>«День вишиванки»</strong>, 
        <strong>«Гаївки в УАД»</strong>.
    </p>
    <p>
        Наші студенти не байдужі до дітей, позбавлених батьківської опіки. Профком студентів здійснює 
        соціальні проекти: <strong>«З Миколаєм прийди – дітям свято принеси!»</strong> 
        (підтримка школи-інтернату для дітей з вадами розумового розвитку), <strong>«Не будь байдужим!»</strong> 
        (підтримка Львівського Геріатричного Інтернату).
    </p>
    <p>
        Для тих студентів, які бажають пізнати нашу країну діє <strong>проект «Подорожуємо разом»</strong>, який дає 
        можливість студентам побувати у найцікавіших місцях нашої країни: замки Львівщини 
        (маршрут <strong>«Золота підкова»</strong> – Олеський, Підгорецький та Золочівський замки), <strong>Почаївська 
        Лавра</strong>, Національний дендрологічний парк <strong>«Софіївка»</strong>, сім чудес України – <strong>Кам’янець-Подільська 
        фортеця</strong> та містом Хотин, <strong>«Замок Паланок» (Мукачеве)</strong> та <strong>замок Шенборна (Чинадійово)</strong>, а ще 
        кожен може взяти участь у <strong>проекті «Перезавантаження»</strong> (щорічне сходження студентів академії 
        на найвищу гору України – Говерлу).
    </p>
    <p>
        Студенти академії є учасниками молодіжних фестивалів: <strong>«Зашків»</strong> (приурочений до дня народження Є. Коновальця),
         <strong>«Бабине Літо»</strong> (міжнародний молодіжний фестиваль  туристичної пісні), а також у фестивалі <strong>«Студентська 
        ліга КВК Львова»</strong> серед вищих навчальних закладів. В академії діє <strong>студентський театр</strong>, 
        де талановита молодь може стати учасниками художньої самодіяльності. Профком студентів 
        не забуває і про закоханих, і тому в день св. Валентина в головному корпусі академії 
        проводиться акція <strong>«Стіна кохання»</strong>, де кожен бажаючий має можливість признатись у своїх почуттях.
    </p>
    <p>
        Від сесії до сесії живуть студенти весело, адже студентське життя полягає не лише в навчанні, а й у 
        відпочинку, тому профком студентів постійно організовує святкові вечірки у нічних клубах (День першокурсника, 
        диско 80-90-х), а також проводить турніри з <strong>«Counter Strike» та пейнтболу</strong> та оформляє абонемент у 
        львівський <strong>аквапарк «Пляж»</strong>.
    </p>
    <p>
        Для заощадження часу та коштів у профкомі студентів можна оформити міжнародну картку <strong>ISIC</strong>
        (єдине міжнародне студентське посвідчення та водночас дисконтна картка) та <strong>«Українську студентську картку»</strong>.
    </p>
    <p>
        Не забуває профком студентів і про спорт. Щороку профспілка виступає співорганізатором багатьох 
        спортивних турнірів таких, як <strong>«Львівська веснянка»</strong>, <strong>«Кубок ректора з міні-футболу»</strong>, 
        <strong>«Кубок ректора зі спортивної аеробіки»</strong>, <strong>«Кубок ректора з шахів»</strong>, команда з лижного спорту 
        щозими має можливість проводити тренувальні збори на схилах Карпат.
    </p>
    <p>
        Чим би не займалися студенти упродовж року, вони завжди очікують літа. <strong>Програма оздоровлення 
        студентів</strong> дає можливість відпочити на узбережжі Чорного моря та провести весело час з друзями.
    </p>
    <p>
        Сьогодні профком студентів УАД тісно співпрацює з профкомами студентів вищих навчальних закладів м. Львова, 
        Кіровоградським національним технічним університетом, Національним аерокосмічним університетом ім. 
        М.Є.Жуковського «ХАІ», Харківським національним університетом радіоелектроніки, Херсонським державним 
        педагогічним університетом та іншими ВНЗ, Асоціацією правозахисних організацій студентів України. 
    </p>
    <p>
        Профспілкова організація студентів є добрим помічником і порадником для усіх студентів академії, 
        адже завжди допоможе та надасть ґрунтовну консультацію.
    </p>
</div>
