﻿@{
    ViewBag.Title = "Студпрофком УАД - Керівництво профкому";
    Layout = "~/Views/_mainLayout.cshtml";
}

<div class="guidance-wrapper">
    <h3>НАШЕ <span>КЕРІВНИЦТВО</span></h3>
    <div class="group-photo"></div>
    <div class="item top">
        <img src="@Url.Content("~/Content/Images/About/head.jpg")" alt=""/>
        <div class="item-info">
            <h4>Любов Любомирівна Тупичак</h4>
            <span class="guidance-position">Голова профкому студентів УАД</span>
        </div>
    </div>
    <div class="item">
        <div class="item-info">
            <h4>Ліліана Гуцуляк</h4>
            <span class="guidance-position">Спеціаліст організаційно-інформаційної роботи</span>
        </div>
        <img src="@Url.Content("~/Content/Images/About/organization-information-specialist.jpg")" alt=""/>
    </div>
    <div class="item">
        <img src="@Url.Content("~/Content/Images/About/student-coop-specialist.jpg")" alt=""/>
        <div class="item-info">
            <h4>Олег Шийка</h4>
            <span class="guidance-position">Спеціаліст по роботі зі студентами</span>
        </div>
    </div>
    <div class="item">
        <div class="item-info">
            <h4>Оля Андрушків</h4>
            <span class="guidance-position">Бухгалтер</span>
        </div>
        <img src="@Url.Content("~/Content/Images/About/booker.jpg")" alt=""/>
    </div>
    <div class="item">
        <img src="@Url.Content("~/Content/Images/About/profkom-work-specialist.jpg")" alt=""/>
        <div class="item-info">
            <h4>Марічка Ільницька</h4>
            <span class="guidance-position">Спеціаліст з профспілкової роботи</span>
        </div>
    </div>
</div>
