﻿@{
    ViewBag.Title = "Студпрофком УАД - Голови Профбюро";
    Layout = "~/Views/_mainLayout.cshtml";
}

<div class="profbureau-wrapper">
    <h3>ГОЛОВИ <span>ПРОФБЮРО</span></h3>
    <div class="item top">
        <img src="@Url.Content("~/Content/Images/About/economics-book-craft.jpg")" alt=""/>
        <div class="item-info">
            <h4>Ірина Куць</h4>
            <span class="guidance-position">Голова профбюро факультету економіки і організації книжкової справи</span>
        </div>
    </div>
    <div class="item">
        <div class="item-info">
            <h4>Анастасія Дричик</h4>
            <span class="guidance-position">Голова профбюро Львівського поліграфічного коледжу</span>
        </div>
        <img src="@Url.Content("~/Content/Images/About/poligraph-college.jpg")" alt=""/>
    </div>
    <div class="item">
        <img src="@Url.Content("~/Content/Images/About/publish-poligraph-tech.jpg")" alt=""/>
        <div class="item-info">
            <h4>Ірина Щербій</h4>
            <span class="guidance-position">Голова профбюро факультету видавничо-поліграфічних технологій</span>
        </div>
    </div>
</div>
