﻿@model List<studProfkom.Models.Application>
@{
  ViewBag.Title = "Студпрофком УАД - Заявки студентів на поселення у гуртожитки";
  Layout = "~/Views/_mainLayout.cshtml";
}

<div class="chummery-applications-wrapper">
  <h3>Заявки <span>студентів</span><a href="#" class="show-applications-link print-btn">Друкувати</a></h3>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="table-id-header">
          №
        </th>
        <th>
          ПІБ
        </th>
        <th>
          Місто
        </th>
        <th class="table-faculty-header">
          Факультет
        </th>
        <th class="table-phone-header">
          Телефон
        </th>
        <th>
          Дата подачі
        </th>
      </tr>
    </thead>
    <tbody>
      @if (Model.Count > 0)
      {
        for (int i = 0; i < Model.Count(); i++)
        {
          <tr>
            <td>
              @(i + 1)
            </td>
            <td title="@Model[i].FullName">
              @Model[i].FullName
            </td>
            <td title="@Model[i].City">
              @Model[i].City
            </td>
            <td title="@Model[i].Faculty.Name">
              @Model[i].Faculty.Name
            </td>
            <td title="@Model[i].Phone">
              @Model[i].Phone
            </td>
            <td title="@String.Format("{0:d/MM/yyyy  HH:mm:ss}", Model[i].CreateDate)">
              @String.Format("{0:d/MM/yyyy  HH:mm:ss}", Model[i].CreateDate)
            </td>
          </tr>
        }
      }
      else
      {
        <tr>
          <td colspan="4">Наразі жодної заявки</td>
        </tr>
      }
    </tbody>
  </table>
</div>

<script>
  document.querySelector('.print-btn').onclick = function() {
    window.print();
  };
</script>
