﻿@{
    ViewBag.Title = "Студпрофком УАД - \"Підголоско'76\" - Додати випуск";
    Layout = "~/Views/_mainLayout.cshtml";
}

<div class="add-issue-wrapper">
    <h3>AddIssue</h3>
    @Html.ValidationSummary("Виникли наступні помилки: ")
    @using (Html.BeginForm("AddIssue", "PidholoskoMagazine", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <fieldset>
        <div class="editor-field">
            <div class="editor-label">Випуск: </div>
            <input type="file" name="issueFile" id="issueFile"/>
        </div>
        <div class="editor-field">
            <div class="editor-label">Обкладинка: </div>
            <input type="file" name="issueCover" id="issueCover"/>
        </div>
        <button type="submit">Save</button>
        <a href="@Url.Action("Archive", "PidholoskoMagazine")"><button type="button">Cancel</button></a>
    </fieldset>
    }
</div>
