﻿@{
    ViewBag.Title = "Студпрофком УАД - Вечірки";
    Layout = "~/Views/_mainLayout.cshtml";
}

<div class="parties-wrapper">
    <h3>
        НАШІ 
        <span>ВЕЧІРКИ</span>
    </h3>
    <p>
        Профком студентів постійно організовує святкові вечірки до Дня першокурсника, 
        Дня св. Валентина та ін. 
    </p>
    <p> 
        Особливо запам’яталася студентам вечірка 80-90-х, де 
        молодь могла згадати музику свого дитинства. 
    </p>
    <p>
        На вечірках проходять конкурси та 
        розваги, на яких студенти мають змогу отримати цікаві призи та подарунки. 
    </p>
    <div id="plusgallery"
        data-type="google"
        data-userid="116877431537615488956"
        data-album-id="5888156358665561745"
        data-credit="false">
    </div>
</div>

