﻿@{
    ViewBag.Title = "Студпрофком УАД - Турнір зі SCRABBLE";
    Layout = "~/Views/_mainLayout.cshtml";
}

<div class="scrabble-tourney-wrapper">
    <h3>ТУРНІР ЗІ <span>SCRABBLE</span></h3>
    <p>
        Студенти УАД дуже полюбляють турніри зі Scrabble. Друга назва гри – «Ерудит». 
        Перший турнір в УАД серед ВНЗ Львова і Києва подарував нам переможців з нашої академії – Юрія Клименко і Ольгу Дітчук.
    </p>
    <p>
        Студентам настільки сподобалась гра, що профком студентів частіше організовувати подібні турніри у майбутньому. 
    </p>
    <hr />
    <div id="plusgallery"
        data-type="google"
        data-userid="116877431537615488956"
        data-album-id="5888213124834458385"
        data-credit="false">
    </div>
</div>
