﻿@{
    ViewBag.Title = "Студпрофком УАД - Спортивні досягнення";
    Layout = "~/Views/_mainLayout.cshtml";
}

<div class="sport-events-wrapper">
    <h3>Спортивні <span>досягнення</span></h3>
    <p>
        В академії активно розвивається спортивне життя. Ректорат постійно підтримує усі 
        спортивні заходи, які організовує кафедра фізичного виховання. Цьогоріч кафедрі 
        фізичного виховання УАД – 66 років. На кафедрі існує 14 видів секцій з різних видів 
        спорту, збірні команди яких приймають участь у змаганнях, починаючи від першості 
        академії і до Чемпіонатів та Кубку України, а також в міжнародних змаганнях та
        фестивалях.
    </p>
    <p>
        Студенти дуже полюбляють проекти «Кубок ректора з міні-футболу», «Кубок ректора з
         шахів» та «Кубок ректора з аеробіки», організацією яких зайжди займається профком студентів.
    </p>

    <h5>Список <span>спортивних</span> проектів: </h5>
    <div class="accordion-sport">
        <h1>КУБОК РЕКТОРА УАД З МІНІ-ФУТБОЛУ</h1>
        <div>
            <p>
                Вже багато років поспіль ректорат, кафедра фізичного виховання та профком студентів 
                організовують щорічний «Кубок ректора УАД з міні-футболу». 
                Участь у ньому беруть студенти усіх факультетів, Львівського 
                поліграфічного коледжу та викладачі і співробітники. Цей захід користується 
                популярністю, адже футбол – це один із найвідоміших видів спорту у світі. 
                Вже стало доброю традицією нагороджувати медалями, кубками та подяками усіх 
                спортсменів та організаторів. 
            </p>
        </div>
        <h1>КУБОК РЕКТОРА З ШАХІВ</h1>
        <div>
            <p>
                Ректорат, профком студентів та кафедра фізичного виховання у 2013 році вперше в 
                УАД організували «Відкритий кубок ректора УАД з шахів», в якому взяло участь 
                близько 100 людей різного віку. Участь у турнірі прийняли студенти таких 
                львівських навчальних закладів: УАД, ЛПК УАД, НУ «ЛП», ЛНУ ім. І. Франка, 
                ЛДФА, ЛНАМ, ЛНМУ ім. Д.Галицького, ЗОШ №52. Цікавою родзинкою шахового вечора 
                була товариська гра між ректором Б.В. Дурняком та зав. каф. фіз.вих. Г.Г. Лапшиною,
                 яка закінчилась перемогою керівника ВНЗ. 
            </p>
        </div>
    </div>
    <hr />
    <div id="plusgallery"
        data-type="google"
        data-userid="116877431537615488956"
        data-album-id="5888189573213106289"
        data-credit="false">
    </div>
</div>