﻿@{
    ViewBag.Title = "Студпрофком УАД - Студентський театр";
    Layout = "~/Views/_mainLayout.cshtml";
}

<div class="student-theater-wrapper">
    <h3>СТУДЕНТСЬКИЙ <span>ТЕАТР</span></h3>
    <p>
        Спільний проект ректорату та профкому студентів Української академії друкарства – студентський театр, 
        в якому талановита молодь може реалізувати свої акторські здібності. 
    </p>
    <p>
        Серед поставлених вистав «Мати-наймичка» і «Кайдашева сім’я», театральні постановки «Вечорниці» та 
        «Українські традиції». Триває робота над наступними виставами «Сорочинський ярмарок» та «Вечори на хуторі біля Диканьки». 
    </p>
    <p>
        Студентський театр кожного разу дарує радість глядачам. Учасники театральної студії не лише беруть участь у виставах, 
        вони володіють й іншими театральними професіями: пишуть тексти вистав, займаються дизайном сцени,  створюють костюми, 
        декорації та багато іншого, без чого не можливо  поставити театральну постановку.
    </p>
    <hr />
    <div id="plusgallery"
        data-type="google"
        data-userid="116877431537615488956"
        data-album-id="5888204156385707681"
        data-credit="false">
    </div>
</div>
