﻿@{
    ViewBag.Title = "Студпрофком УАД - Літнє оздоровлення";
    Layout = "~/Views/_mainLayout.cshtml";
}

<div class="summer-recovery-wrapper">
    <h3>ЛІТНЄ <span>ОЗДОРОВЛЕННЯ</span></h3>
    <p>
        Надзвичайно велика увага в академії приділяється проекту «Літнє оздоровлення».
    </p>
    <p>
        За підтримки ректора УАД профком студентів має змогу організувати і забезпечити соціально-незахищені 
        категорії студентів та інших, оздоровлення і відпочинок влітку. 
    </p>
    <p>
        Протягом п’яти років студенти, 
        викладачі та співробітники мали змогу оздоровитись в СОТ «Лазурний». За програмою літнього 
        оздоровлення поліграфісти також побували на багатьох оздоровчих базах відпочинку різних 
        навчальних закладів України.
    </p>
    <hr />
    <div id="plusgallery"
        data-type="google"
        data-userid="116877431537615488956"
        data-album-id="5888202725603468097"
        data-credit="false">
    </div>
</div>
