﻿@{
    ViewBag.Title = "Студпрофком УАД - До дня української мови та писемності";
    Layout = "~/Views/_mainLayout.cshtml";
}

<div class="ukrainian-writing-wrapper">
    <h3>«Я ДУМАЮ, РОЗМОВЛЯЮ, ПИШУ ТА ЧИТАЮ <span>УКРАЇНСЬКОЮ МОВОЮ</span>»</h3>
    <p>
        У 2013 році вперше профком студентів організував новий проект до дня писемності та 
        української мови під гаслом «Я думаю, розмовляю, пишу та читаю українською мовою». 
    </p>
    <p>
        Проект поділявся на 2 етапи. У першому етапі протягом 2-х тижнів в академії 
        проводився збір україномовних книжок для дітей, які навчаються у школах-інтернатах. 
        До такого збору долучились ректорат, деканати, кафедри, працівники та студенти УАД та 
        ЛПК УАД. Спільними зусиллями було зібрано понад 400 книг! 
    </p>
    <p>
        У другому етапі можна було побачити презентацію друкованих видань
         видавництва УАД та кращі книги з колекції Кабінету книгознавства. 
        А пізніше у конференц-залі відбулись презентації до теми заходу. 
    </p>
    <p>
        Профком студентів сподівається, що наступного року до свята доєднається ще більше людей. 
    </p>
    <hr />
    <div id="plusgallery"
        data-type="google"
        data-userid="116877431537615488956"
        data-album-id="5888211570841324161"
        data-credit="false">
    </div>
</div>
