$main-site-color: #70bf04;
$font-color-black: #353434;
$font-color-white: #fff;
$header3-elements-background: #f4f4f4;
$light-green: #7EC51D;
$content-separator-color: #e1e1e1;
$dark-lime-color: #379b01;
$validation-error-color: #a94442;

*
{
  box-sizing: border-box;
}

a[rel=publisher] { display: none; }

em
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

    border: 10px solid transparent;

    &:hover
    {
        border-color: #fefefe;
    }
}

h3
{
    margin: 0 0 20px 0;

    &.latest-news
    {
        margin-top: 20px;
    }
    .title-caption
    {
        text-transform: lowercase;

        font-size: 13px;
    }
}

.validation-summary-errors
{
    color: red;
}

.add-article-button
{
    float: right;

    width: 120px;
    height: 34px;
    margin-top: -4px;

    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;

    background: url(/Content/Images/add-button.png) no-repeat;
    background-position: 0 0px;

    &:hover
    {
        background-position: 0 -34px;
    }
    &:active
    {
        background-position: 0 0;
    }
}

.functional-button-group
{
    position: absolute;
    bottom: 13px;
    left: 240px;

    .functional-article-button
    {
        float: left;

        width: 98px;
        height: 28px;
        margin-left: 5px;
        transition: none;

        background-position: 0 0px;

        &.edit
        {
            background: url(/Content/Images/edit-button.png) no-repeat;
        }
        &.delete
        {
            background: url(/Content/Images/delete-button.png) no-repeat;
        }
        &:hover
        {
            background-position: 0 -28px;
        }
        &:active
        {
            background-position: 0 0;
        }
    }
}

p
{
    line-height: 30px;
}

.page-wrapper
{
    width: 1024px;
    margin: 0 auto;
}

body
{
    padding-bottom: 30px;

    background: url(/Content/Images/body-bg.png);

    font-family: Arial, Helvetica, sans-serif;
}

header
{
    position: relative;

    height: 145px;
    margin-bottom: 18px;
    padding-top: 20px;

    .header-logo
    {
        display: block;
        float: left;

        width: 164px;
        height: 125px;
    }
    .header-logo-caption
    {
        display: block;
        float: left;

        width: 542px;
        height: 125px;

        background: url(/Content/Images/profkom-logo-caption.png) no-repeat center;
    }
    .login-btn
    {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

.footer
{
    overflow: hidden;

    width: 958px;
    margin: 0 auto;
    padding: 28px 0 28px 0;

    border-top: 1px solid $content-separator-color;

    .footer-menu
    {
        margin: 0;
        padding: 0;

        list-style: none;

        li
        {
            float: left;

            margin-left: 18px;

            text-transform: uppercase;

            font-size: 12px;
            font-weight: bold;

            a
            {
                color: $font-color-black;

                &:hover
                {
                    color: $main-site-color;
                }
            }
        }
    }
}

nav
{
    position: relative;

    margin: 0px 0 0 0;
    padding: 10px 0 0 10px;

    border-bottom: 1px solid #e3e3e3;
    background: url(/Content/Images/nav-bg.png) repeat-x #fdfdfd;

    border-radius: 6px 6px 0 0;

    ul
    {
        margin: 0;
        padding: 0;
    }
}

.first
{
    margin-left: 0;
}

h4
{
    margin: 0;

    color: $main-site-color;

    font-size: 18px;
    font-weight: normal;
    line-height: 23px;
}

.top-nav-menu
{
    position: relative;

    display: inline-table;

    width: 100%;

    list-style: none;

    &>li
    {
        position: relative;

        &:before
        {
            position: absolute;
            top: 0;
            left: -16px;

            width: 1px;
            height: 52px;

            content: "";

            background: #dfdfdf;
        }

        &.first:before
        {
            background: none;
        }

        &.sub-menu-holder > a
        {
            background: url(/Content/Images/sub-menu-arrow-down.png) no-repeat center 40px;
        }
        &.sub-menu-holder > a:hover
        {
            background: url(/Content/Images/sub-menu-arrow-down-hover.png) no-repeat center 40px;
        }
    }

    li
    {
        float: left;

        margin-left: 33px;

        border-radius: 3px;

        .top-nav-sub-menu
        {
            position: absolute;
            z-index: 99;
            top: 100%;

            display: none;

            padding: 1px 0 2px;

            list-style: none;

            background: $font-color-black;

            border-radius: 4px;

            &.second-level
            {
                top: 0;
                left: 100%;

                display: none;
            }

            li
            {
                position: relative;

                float: none;

                width: 100%;
                margin: 0;

                white-space: nowrap;

                border-bottom: 1px solid #4c4a4a;

                font-weight: normal;

                a
                {
                    padding: 7px 20px 9px;

                    letter-spacing: 0;

                    color: #b2b2b2;

                    font-size: 12px;

                    &:hover
                    {
                        color: $font-color-white;
                    }
                }
                &:hover
                {
                    background: none;
                }
                &.last
                {
                    border: none;
                }
            }
        }

        .sub-menu-arrow
        {
            position: absolute;
            top: 17px;
            right: 10px;

            display: block;

            width: 3px;
            height: 5px;

            background: url(/Content/Images/sub-menu-arrow-right.png) no-repeat center;
        }

        &:hover
        {
            background: url(/Content/Images/menu-hover.png);

            a
            {
                color: $font-color-white;
            }

            & > .sub-menu-arrow
            {
                background: url(/Content/Images/sub-menu-arrow-right-hover.png) no-repeat center;
            }

            .top-nav-sub-menu.first-level
            {
                display: block;

                li:hover > .second-level
                {
                    display: block;
                }
            }
        }

        a
        {
            position: relative;

            display: block;

            padding: 11px 18px 16px;

            text-decoration: none;
            letter-spacing: -1px;
            text-transform: uppercase;

            color: $font-color-black;

            font-family: sans-serif;
            font-size: 21px;
            font-weight: bold;
            font-weight: bold;
            line-height: 25px;
        }
    }
}

.white-container
{
    background: $font-color-white;
}

.panes-wrapper
{
    padding: 28px;

    .left-pane
    {
        float: left;

        width: 620px;
        margin: 0 10px 0 10px;
        padding-bottom: 20px;

        h3
        {
            margin-bottom: 21px;
            padding: 14px 20px 14px 19px;

            letter-spacing: -1px;
            text-transform: uppercase;

            color: $font-color-black;
            background: $header3-elements-background;

            font-size: 21px;
            line-height: 26px;

            span
            {
                color: $main-site-color;
            }
        }
    }

    .right-pane
    {
        float: right;

        width: 300px;
        margin: 0 10px 0 10px;

        .close-events
        {
            position: relative;

            width: 100%;
            padding: 13px 10px 17px 20px;

            background: url(/Content/Images/event-bg.jpg) no-repeat;
            background-size: cover;

            font-family: sans-serif;

            h2
            {
                margin: 0;
                padding: 0;

                letter-spacing: -1px;
                text-transform: uppercase;

                color: $font-color-white;
                text-shadow: 1px 1px 0 rgba(0,0,0,0.12);

                font-size: 21px;
                font-weight: 700;
                line-height: 26px;
            }
        }
        .event
        {
            overflow: hidden;

            margin-top: 20px;

            time
            {
                margin-bottom: 5px;
            }

            .event-icon-link
            {
                position: relative;

                display: inline-block;
                float: left;

                .event-icon
                {
                    float: left;

                    width: 101px;
                    margin-right: 15px;

                    border: 3px solid $font-color-white;
                }
                em
                {
                    width: 101px;
                }
            }

            .event-tite
            {
                display: block;

                margin-bottom: 15px;

                color: $font-color-white;

                font-size: 13px;
                font-weight: bold;

                &:hover
                {
                    color: black;
                }
            }

            .event-short-description
            {
                color: $font-color-white;

                font-size: 12px;
            }
        }
        .show-all-news
        {
            display: inline-block;

            margin: 20px 0 0 0;

            color: $font-color-white;

            font-size: 13px;

            &:hover
            {
                color: #000;
            }
        }
        .partner-links
        {
            margin: 60px 0 20px 0;
            padding: 15px;
            padding: 20px;

            text-align: center;

            background: $header3-elements-background;

            h3
            {
                margin: 0 0 20px 0;

                text-align: left;

                span
                {
                    color: $main-site-color;
                }
            }

            a
            {
                display: inline-block;

                margin-bottom: 20px;

                img
                {
                    border: 1px solid $main-site-color;
                }
            }
        }
    }
}

.slide-show
{
    position: relative;

    width: 100%;
    margin: 0 10px 0 10px;

    .slide-caption
    {
        position: absolute;
        bottom: 0;

        width: 100%;
        height: 92px;
        padding: 15px 0 0 18px;

        background: rgba(53,52,52, 0.9);

        time
        {
            display: block;

            color: $main-site-color;

            font-weight: bold;
        }

        a
        {
            margin: -3px 0 -1px;

            color: $font-color-white;

            font-size: 21px;
            font-weight: 600;
            line-height: 26px;

            &:hover
            {
                color: $main-site-color;
            }
        }
    }
}

.slide-show-pagination
{
    position: relative;

    width: 100%;
    margin-top: 15px;
}

a
{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;

    color: $main-site-color;

    &:hover
    {
        color: $font-color-black;
    }
}

.date-label
{
    display: inline-block;

    margin-bottom: 15px;
    padding: 1px 9px 3px;

    color: $font-color-white;
    border-radius: 2px;
    background: $dark-lime-color;

    font-size: 12px;
    font-weight: bold;
}

.show-all-news
{
    margin-left: 20px;
    padding-right: 10px;

    background: url(/Content/Images/show-all-arrow.png) no-repeat right;

    font-weight: bold;
}

article
{
    position: relative;

    overflow: hidden;

    min-height: 180px;
    margin-bottom: 19px;
    padding-bottom: 20px;

    border-bottom: 1px solid $content-separator-color;

    font-size: 12px;

    .read-more
    {
        position: absolute;
        right: 20px;
        bottom: 12px;

        display: block;

        font-size: 14px;
    }

    .image-frame
    {
        position: relative;

        display: block;
        float: left;

        margin: 0 20px 0 0;

        img
        {
            width: 220px;
            max-height: 291px;

            &:hover
            {
                box-shadow: inset 0 0 10px white;
            }
        }
    }

    h4
    {
        margin-bottom: 15px;

        a
        {
            margin: 0 0 15px 0;
        }
    }

    .article-description
    {
        display: block;

        width: 380px;
        max-height: 90px;
        margin-bottom: 32px;
        margin-left: 240px;
    }
}

.contacts-wrapper
{
    color: #666464;

    font-size: 14px;

    .contacts-address
    {
        display: block;

        margin: 20px 0 20px 0;
    }

    .contact-details
    {
        margin: 0;
        padding: 0;

        list-style: none;

        .contact-detail-item-title
        {
            display: inline-block;

            width: 150px;
        }
    }
}

.left-pane .article-details-wrapper
{
    position: relative;

    time
    {
        font-size: 12px;
        font-weight: normal;
        b
        {
            font-size: 13px;
        }
    }
    p
    {
        text-indent: 0;

        line-height: normal;
    }
    .functional-button-group
    {
        top: 14px;
        right: 20px;
        bottom: initial;
        left: initial;
    }
}

.miss-uad-wrapper
{
    .project-logo
    {
        display: block;

        width: 100%;
        margin: 0 auto;
    }
    h3
    {
        font-size: 17px !important;
    }
    .miss-list
    {
        margin-bottom: 30px;

        list-style: none;

        .miss-item
        {
            margin: 15px 0 15px 0;
        }
    }
}

.sport-events-wrapper
{
    h5
    {
        margin-bottom: 0;

        font-size: 16px;
    }
    .accordion-sport
    {
        margin-bottom: 40px;
    }
}

.travel-with-us-wrapper
{
    ul
    {
        list-style-type: circle;

        li
        {
            margin-bottom: 20px;
        }
    }
    p
    {
        line-height: 24px;
    }
}

.magazine-archive-wrapper
{
    .issue-item
    {
        float: left;

        width: 190px;
        margin: 0 0 15px 15px;
        padding-bottom: 5px;

        background: $light-green;
        -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 1px 1px 5px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 1px 1px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 1px 1px 5px rgba(0, 0, 0, 0.3);


        .issue-cover-wrapper
        {
            position: relative;

            display: block;

            width: 100%;
            padding: 4px;

            img
            {
                width: 100%;
            }
            em
            {
                height: 267px;

                &:hover
                {
                    border-color: #fff;
                }
            }
        }
        .issue-caption
        {
            float: left;

            width: 70%;
            padding: 3px 0 0 5px;

            color: $font-color-white;
            text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.12);
        }
        .issue-button-group
        {
            float: right;

            width: 48px;
            height: 48px;
            margin-right: 5px;

            .issue-download
            {
                display: block;

                width: 100%;
                height: 100%;

                background: url(/Content/Images/download-file-icon.png) no-repeat center;
            }
        }
    }
}
.all-news-wrapper, .all-events-wrapper
{
    p
    {
        line-height: normal;
    }
}

.add-article-wrapper
{
    .editor-label
    {
        float: left;

        width: 165px;

        &.google-pluss-album
        {
            font-size: 13px;
        }
    }
    .editor-field
    {
        overflow: hidden;

        width: 100%;
        min-height: 30px;

        line-height: 30px;

        .field-validation-error
        {
            color: red;
        }

        .article-image-preview
        {
            max-width: 170px;
            max-height: 170px;
        }
        &.image-select
        {
            overflow: hidden;
        }

        .text-box, #eventStartDate
        {
            width: 70%;
        }
    }
    textarea
    {
        width: 100%;
        min-height: 400px;
    }
}

.guidance-wrapper, .profbureau-wrapper
{
    .group-photo
    {
        width: 620px;
        height: 308px;

        background: url(/Content/Images/About/group-photo.jpg) no-repeat center;
    }
    .item
    {
        overflow: hidden;

        width: 100%;
        margin-top: 15px;
        padding-bottom: 15px;

        border-bottom: 1px solid $content-separator-color;

        &.top
        {
            margin-top: 20px;
            padding-top: 15px;

            border-top: 1px solid $content-separator-color;
        }

        h4
        {
            font-size: 22px;
            font-weight: bold;
        }

        img
        {
            float: left;

            width: 30%;
        }
        .item-info
        {
            float: right;

            width: 70%;
            padding-left: 20px;
        }
    }
}
.guidance-wrapper
{
    .group-photo
    {
        background: url(/Content/Images/About/group-photo.jpg) no-repeat center;
    }
}
.profbureau-wrapper
{
    .group-photo
    {
        background: url(/Content/Images/About/group-photo.jpg) no-repeat center;
    }
}

p
{
    text-indent: 1.5em;
}

.about-wrapper
{
    strong
    {
        color: $main-site-color;
    }
}

.orphans-wrapper, .students-wrapper
{
    ul li
    {
        margin-bottom: 20px;
    }
}

#EventStartDate
{
  width: 43%;
}
#EventStartTime
{
  width: 26%;
  margin-left: 6px;
}

.show-applications-link
{
  float: right;

  text-decoration: underline;

  font-size: 16px;
  line-height: 25px;
}

.chummeries-wrapper
{
  h2
  {
    padding-left: 1em;

    font-size: 1.2em;
  }
  ol, ul
  {
    margin: 20px 0;
    li
    {
      line-height: 2em;
      a
      {
        text-decoration: underline;
      }
    }
  }
  .chummerie-application {
    &-wrapper {
      position: relative;

      width: 590px;
      margin: 30px auto;
      padding: 20px;

      border: 1px solid $main-site-color;

      border-radius: 5px;
    }

    &-placeholder {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: rgba(250,250,250,.9);
      border-radius: 5px;
      z-index: 100;

      &-text {
        position: absolute;
        top: 50%;
        left: 50%;

        font-weight: bold;
        transform: translate(-50%, -50%);
      }
    }
  }

  p
  {
    text-indent: 1em;

    line-height: 1.75em;
  }
  .form
  {
    position: relative;
    .has-error label
    {
      color: $validation-error-color;
    }
  }
  .submition-indicator
  {
    position: absolute;
    bottom: 4px;
    left: 195px;

    display: none;

    width: 26px;
    height: 26px;

    -webkit-transition: background-image 0.4s ease-out;
    transition: background-image 0.4s ease-out;

    background: url(/Content/Images/indicator.gif) no-repeat center;
    background-size: 26px;

    &.success, &.error
    {
      width: auto;
      padding-left: 32px;

      background-position: left;

      line-height: 26px;
    }
    &.success
    {
      color: $main-site-color;
      background-image: url(/Content/Images/success.png);
    }
    &.error
    {
      color: $validation-error-color;
      background-image: url(/Content/Images/error.png);
    }
  }
}

.chummery-applications-wrapper
{
  table {
    table-layout: fixed;

    border-collapse: collapse;

    font-size: 10px;
  }

  th {
    &:first-child {
      width: 40px;
    }
  }

  td
  {
    overflow: auto;

    white-space: nowrap;
  }

  .table-id-header {
    width: 40px;
  }

  .table-faculty-header {
    width: 80px;
  }

  .table-phone-header {
    width: 109px;
  }
}

@page { size: landscape; }

@media print {
  header {
    display: none;
  }

  .show-applications-link {
    display: none;
  }

  .page-wrapper {
    width: 100%;
    height: 100%;

    .left-pane {
      float: none;
      clear: both;

      width: 100%;
      height: 100%;
    }
  }

  .white-container {
    nav {
      display: none;
    }
  }

  .chummery-applications-wrapper {
    h3 {
      margin-bottom: 0!important;
    }

    table {
      font-size: 10px;

      td {
        overflow: hidden;

        width: auto!important;
      }
    }
  }

  .right-pane {
    display: none;
  }

  .footer {
    display: none;
  }
}
