﻿@model List<studProfkom.Models.NewsArticleViewModel>
@{
	ViewBag.Title = "Студпрофком УАД - Головна сторінка";
	Layout = "~/Views/_mainLayout.cshtml";
}

<div class="flexslider slide-show">
	<ul class="slides">
		@for (int i = 0; i < 4; i++)
		{
			<li>
				<a href="@Url.Action("ArticleDetails", new { id = Model[i].Id })">
					@if (String.IsNullOrEmpty(Model[i].ImageName))
					{
						<img src=""/>
					}
					else
					{
						<img src="@Url.Content("~/Content/Images/Articles/" + Model[i].ImageName)" />
					}
				</a>
				<div class="slide-caption">
					@{
						if (Model[i].IsEvent)
						{
							<time>початок <b>@Model[i].FormattedDate("event")р.</b> о <b>@Model[i].GetTime("event")</b></time>
						}
						else
						{ 
							<time><b>@Model[i].FormattedDate("publication")р.</b></time>
						}                
					}
					@Html.ActionLink(Model[i].Title, "ArticleDetails", new { id = Model[i].Id })
					<div class="caption-text"></div>
				</div>
			</li>
		}
	</ul>
</div>
<div class="slide-show-pagination"></div>
<h3 class="latest-news">ОСТАННІ 
	<span>НОВИНИ</span> 
	@if (base.User.Identity.IsAuthenticated)
	{
		@Html.ActionLink(" ", "EditOrCreateArticle", "News", new { id = 0 }, new { @class = "add-article-button" })
	}
</h3>
	@foreach(var article in Model)
	{
		<article>
			<a href="@Url.Action("ArticleDetails", new { id = article.Id })" class="image-frame">
				@if (String.IsNullOrEmpty(article.ImageName))
				{
					<img src=""/>
				}
				else
				{
					<img src="@Url.Content("~/Content/Images/Articles/" + article.ImageName)" />
				}
				<em></em>
			</a>

			@{
				if (article.IsEvent)
				{
					<time class="date-label">початок <b>@article.FormattedDate("event")р.</b> о <b>@article.GetDateTime("event").ToString("HH:mm")</b></time>
				}
				else
				{ 
					<time class="date-label"><b>@article.FormattedDate("publication")р.</b></time>
				}                
			}

			@if (base.User.Identity.IsAuthenticated)
			{
				<div class="functional-button-group">
					@Html.ActionLink(" ", "EditOrCreateArticle", "News", new { id = article.Id }, new { @class = "functional-article-button edit first" })
					@Html.ActionLink(" ", "Remove", "News", new { id = article.Id }, new { @class = "functional-article-button delete" })
				</div>
			}

			<h4>
				@Html.ActionLink(article.Title,"ArticleDetails", new { id = article.Id })
			</h4>
			<div class="article-description">
				@article.ArticleShortDescription
			</div>
			@Html.ActionLink("Читати далі...", "ArticleDetails", new { id = article.Id }, new {@class = "read-more"})
		</article>
	}
@Html.ActionLink("Показати усі новини", "News", null, new {@class = "show-all-news"})